<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="css/main.css" rel="stylesheet">
  <title>Register Page</title>
</head>

<body>
  <div class="main">
    <div class="form">
      <form class="form-tab" action="/register" method="POST">
        <div class="form-label">Zarejestruj się</div>
        <div class="errors">
          {{#if error.length}}
          {{error}}
          {{/if}}
        </div>
        <div class="row">

          <div class="col-75">
            <input class="" type="text" id="email" name="email" placeholder="E-Mail"><span id="validEmailIcon" class="glyphicon glyphicon-ok valid-icon"></span>
          </div>
        </div>
        <div class="row">

          <div class="col-75">
            <input type="text" id="fname" name="name" placeholder="Imię" value="{{name}}"><span id="validNameIcon" class="glyphicon glyphicon-ok valid-icon"></span>
          </div>
        </div>
        <div class="row">

          <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Nazwisko" value="{{lastname}}"><span id="validLastNameIcon" class="glyphicon glyphicon-ok valid-icon"></span>
          </div>
        </div>
        <div class="row">

          <div class="col-75">
            <input type="password" id="pass" name="password" placeholder="Hasło"><span id="validPasswordIcon" class="glyphicon glyphicon-ok valid-icon"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-75">
            <input id="submit-btn" type="submit" value="Zarejestruj">
          </div>
        </div>
        <div class="row">
          <div class="col-75">
            <div class="success">
              {{#if success.length}}
              {{success}}
              {{/if}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="js/validator.min.js"></script>

  <script src="js/register.js"></script>

</body>

</html>